


	*{
		box-sizing: border-box;
        margin: 0;
        padding: 0;
	}
    h1{
        text-align:center;
    	
    }

   section {
  padding: 40px 20px 20px 20px;
  margin: 2% 2% 2% 2%;
  border: 1px solid black;
  border-width: thick;
  float: left;
  position:relative;
  background-color: grey;
  }

    .row{
    	width: 100%;
    }



    #chicken-title, #momo-title, #sushi-title{
        position:absolute;
  top:0;
  right:0;
  width:30%;
  border: 1px solid black;
  border-width: thick;
  border-top: none;
  border-right: none;  

    }

    #chicken-title{
        background-color: green;
    }

    #momo-title{
        background-color: yellow;
    }
    #sushi-title{
        background-color: blue;
    }
    /*********large devices*********/
    @media (min-width: 992px) {
    	 .col-lg-4{
    		float: left;
    		width: 29%;
    	}
    }

    /********medium devices only*******/
    @media (min-width: 768px) and (max-width: 991px) {
    	
    	.col-md-6{
    		width: 46%;
    	}
    	.col-md-12{
    		width: 100%;
    	}
    }

    /********small devices only*******/
    @media (max-width: 767px) {
    	.col-sm-12{
    		
    		width: 100%;
    	}
    }


